html{
  min-width:1200px;
  min-height:600px;
}
body {
  margin:0px;
  padding:0px 0px 0px 0px;
  min-width:1200px;
  min-height:600px;
  font-family: sans-serif;
  color:#333;
  background: url(images/bg.jpg) repeat-x top center; 
  background-color:#FFF;
}

#particles-js{
  width:100%;
  display:block;
}
#container{
  width:100%;
  height:100%;
  min-width:1200px;
  min-height:600px;
  z-index:100;
  /*overflow:hidden;*/
}

#content {
  margin-left:auto;
  margin-right:auto;
  width:90%;
}

#title{
  text-align:center;
  margin:5% auto 10pt auto;
  width:650px;
  
}
#title h1{
  color:#555;
  font-family:"Trebuchet MS";
  font-size:36pt;
  text-align:center;
  margin:0px auto 0px auto;
}
h2{
  text-align:center;
  font-family:"Trebuchet MS";
  font-size:16pt;
  margin:5pt;
  color:#555;
}
#form {
  margin-top:0px;
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

#countdown {
  text-align:left;
  margin-top:3%;
}

#navigation {
  text-align:right;
  float:right;
}

#navigation, #countdown {
  margin-right:4%;
  margin-left:4%;
  font-size:14pt;
  color:#555;
}

#navigation a, #countdown a{
  border-color:transparent;
  padding:20px;
  color:#555;
}

select, input{
  border-radius: 5px;
  padding:5px 10px 5px 10px;
  font-size:14pt;
  opacity: 0.75;
  border-color: #DDDDDD;
}

.dateFormat {
  display: none;
}

.registerButton {
  border-radius: 15px;
  padding:15px 30px 15px 30px;
  font-size:24pt;
  opacity: 0.75;
  border-color: #DDD;
  background-color:#DDD;
  border-style:solid;
  cursor:pointer;
  color:#222;
  font-weight:bold;
  outline:none;
}
.registerButton:hover{
  background-color:#CCC;
  border-color: #CCC;
}
.availability {
  font-size: 14pt;
  margin-top:15px;
}

#footer {
  text-align:center;
  font-family:"Trebuchet MS";
  font-size:12pt;
  padding-top:5%;
  padding-bottom:2%;
}

a {
  text-decoration:none;
  border-bottom: 1px black dotted;
  color:#333;
}
a:hover{
  text-decoration:underline;
  border-color: transparent;
}

#about{
  margin-top:100px;
  color:#777; 
  min-height:100%; 
  max-height: 999999px;
  width:100%;
  z-index:9999; 
  opacity:.9;
}
#about a{
  color:#777; 
  font-weight:bold;
  border-width:0px 0px 1px 0px;
  border-style: dotted;
  border-color:#777;
}
#about a:hover {
  border-width:0px 0px 2px 0px;
  border-style:solid;
  text-decoration:none;
}
#about p, #about ul, #about ol, #about table{
  text-align:left;
  width:75%;
  max-width:1000px;
  font-size:16pt;
  margin:20px auto 20px auto;
}
#about li{
  margin:20px 5% 20px 5%;
}
#about h3 {
  text-align:center;
  font-size:30pt;
  margin:auto;
  color:#888;
}
#about h4 {
  font-weight:normal;
  text-align:center;
  margin:10px 0px 20px 0px;
  font-size:16pt;
  color:#888;
}
#about h5, #about h6 {
  text-align:center;
  width:80%;
  margin:auto;
  padding-top:50px;
  padding-bottom:25px;
  font-size:26pt;
  color:#999;
}
#about h5 {
  margin-top:5%;
}


.logos {
  text-align:center;
  font-size:16pt;
  width:960px;
  margin:auto;
}

#about .logos img, #about img a{
  max-width:400px;
  max-height:250px;
  border-color:transparent;
}

#about .crop{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  text-align:center;
  margin:10px auto 10px auto;
}
#about .crop a img{
  display: inline;
  margin: 0 auto;
  max-height: 107%;
  max-width:107%;
  width: auto;
  text-align:center;
}

.floatedLogosMain {
  position:relative;
  left:-50%;
  float:left;
}

.floatedLogosSub {
  position:relative;
  left:50%;
  float:left;
}

.inlineLogos {
  padding:30px;
  display:block;
  float:left;
}

#about .inlineLogos a{
  border-color:transparent;
}

#loginBackground {
  position:fixed;
  top:0%;
  left:0%;
  right:0%;
  bottom:0%;
  width:100%;  /* adjust as per your needs */
  height:100%;   /* adjust as per your needs */
  background-color:#CCC;
  opacity:.5;
  padding:0px;
  z-index:10000;
  display:none;
  max-height: 999999px;
  min-height:600px;
}

.popup{
  margin:auto;
  position:fixed;
  top:45%;
  left:50%;
  width:400px;  /* adjust as per your needs */
  height:300px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:-150px;   /* negative half of height above */
  background-color:#EFEFEF;
  border-width:2px;
  border-style:double;
  border-color:#FFF;
  opacity:.95;
  text-align:center;
  z-index:10001;
  display:none;
  padding:30px;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  min-height: 1px;
  max-height: 999999px;
}

.popup h3{
  margin:0px 0px 15px 0px;
  padding:5px 0px 5px 0px;
  text-align:left;
}

.popup table{
  width:100%;
  margin-bottom:15px;
}

.popup td{
  vertical-align:middle;
}
.popup td.right{
  width:70%;
}

.popup table input, .popup table select{
  width:90%;
}


.popup div{
  margin-bottom:5px;
}

.info {
  text-align:left;
  margin-top:20px;
  margin-bottom:20px;
  height: 340px;
  overflow:auto;
  padding:0px 10px 0px 10px;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  min-height: 1px;
  max-height: 999999px;
}



@media only screen and (max-device-width: 480px) {
  
  html {
    min-width:960px;
  }
  body {
    max-height: 999999px;
    min-width:960px;
    padding:0px;
  }
  
  #particles-js{
    display:none;
  }
  #container {
    position:static;
    overflow:hidden;
    min-width:960px;
  }
  

  form{
    width:100%;
    overflow:hidden;
  }
  h1 {
    clear:right;
    font-size:54pt;
    width:80%;
    margin:10% auto 15px auto;
  }
  h2 {
    font-size:24pt;
  }
  
  a {
    text-decoration:underline;
    border-bottom: 0px;
  }
  a:hover{
    text-decoration:none;
  }
  

  input, select{
    border-radius: 10px;
    font-size: 20pt;
  }
  
  #footer {
    font-size:14pt;
  }
  
  #about p, #about ul, #about ol{
    font-size:20pt;
  }

  #about h4 {
    font-size:16pt;
  }
  #about h3, #about h5, #about h6{
    font-size:28pt;
  }
  
  .popup{
    width:800px;  
    height:900px;   
    margin-left:-400px;  
    margin-top:-350px;
    font-size:20pt;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    min-height: 1px;
    max-height: 999999px;
  }
  .popup input, .popup select {
    font-size:20pt;
    max-height: 999999px;
  }
  
  .info {
    height: 600px;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    min-height: 1px;
    max-height: 999999px;
  }

}